.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 100vw;
  height: 100vh;
  color: rgb(0, 0, 0);
  background: linear-gradient(-45deg, rgb(245, 74, 74), rgb(253, 158, 69), rgb(89, 164, 226), rgb(20, 57, 112));
  background-size: 400%, 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}