@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

.logo{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.nav-link{
    margin: 20px !important;
    font-size: 20px;
}